:root {
    --color-background: #000;
    --white-color-background: #fff;
    color-scheme: light dark;
}
body {
  height: 100%
  transition: color 0.5s, background-color 0.5s;
}
@media (prefers-color-scheme: dark) {
    [data-theme = dark] body {
        background-color: var(--color-background);
        color: var(--white-color-background);
    }
}

@media (prefers-color-scheme: light) {
   [data-theme = light] body {
        background-color: var(--white-color-background);
        color: var(--color-background);
    }
}