html, body  {
    padding: 0;
    margin: 0;
    font-size: 20px;
    overflow: hidden;
}
* {
    font-family: Inter,Helvetica,Arial,"Microsoft YaHei",sans-serif;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
}

:root {
    --color-background: #1b1b1b;
    --white-color-background: #fff;
    color-scheme: light dark;
}

body {
  height: 100%
  transition: color 0.5s, background-color 0.5s;
}
/* Media query monitoring */
@media (prefers-color-scheme: dark) {
    [data-theme = dark] body {
      background-color: var(--color-background)
    }
}

@media (prefers-color-scheme: light) {
    [data-theme = light] body {
        background-color: var(--white-color-background)
    }
}